/** {*/
/*margin:0;*/
/*padding: 0;*/
/*box-sizing: border-box;*/
/*}*/
* {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
}

nav {
    background-color: white;
    margin-top: 4em;
    text-align: center;

}

/**/

h1{font-weight: bold}

.wide {
    display: inline-block;

}

.main-logo {
    width: 105px;
    height: 105px;
    margin-left: 0 auto;
}

.wide .main-logo {

    margin: 0 auto;
    display: block;
}

.nav-text {
    float: none;
    font-size: 3em;
}

nav ul {
    list-style: none;
    float: right;
    padding: 0;

}

nav ul > li {
    display: inline-block;
    padding: 1em;

}

.jumbotron {
    background-color: #e6e6e6;
}

.circle {
    border: 4px solid white;
    border-radius: 50%;
    width: 105px;
    height: 105px;
}

.circle-sm {

    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.circle-red {
    background-color: #e6563b;
}

.circle-yellow {
    background-color: #DEA03D;
}

.circle-green {
    background-color: #7cb06c;
}

.circle-blue {
    background-color: #00aba9;

}

.circle h3 {
    color: ivory;
    margin-top: 30px;
    font-size: large;

}

p .sel-work {
    text-align: center;
}

nav.navbar {
    width: 100%;
    background-color: #e6e6e6;
    margin-top: 10px;

}

ul .nav-links {
    width: 99%;
    display: inline;
}

.sub-head {
    font-size: small;
    color: black;
    float: left;
}

.navbar li {
    margin-top: 3px;

}

.col-sm-12 {
    width: 99%;
}

/*.col-8 {*/
/*text-align: center;*/
/*}*/

@media screen and (min-width: 768px) {

    /*nav {*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*}*/
    .main-logo {

        float: left;
    }

    .codeup-logo, .nav-text {
        float: left;
    }

    .img-responsive {
        max-width: 80%;
        margin: 0;
    }

    p .last {
        margin: 0;
    }

    .sm-pic {
        width: 100px;
        height: 100px;

    }

}