* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
}


.wide {
    background-color: white;
    position:relative;
   top: 100px;

}

.text-center{height: 75px;}






.logo>img{
    position: absolute;
    width: 105px;
    height: 105px;
    top: -15px;
    left: 50%;
    margin-left: -52.5px;


}
